@font-face {
  font-family: Supreme;
  src: url(assets/Supreme-Variable.ttf);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
}

a {
  font-family: Supreme, Arial;
  color: #ffffff;
  text-decoration-color: #ffffff44;
  text-underline-offset: 8px;
  transition: text-decoration-color 0.4s;
}

a:hover {
  text-decoration-color: #ffffffff;
}

header {
  position: fixed;
  top: 48px;
  left: 48px;
  z-index: 1;
  animation: fadein 1s 1s both;
}

h1,
h2 {
  font-family: Supreme, Arial;
  font-size: 48px;
  font-weight: 400;
}

h1 {
  font-variation-settings: "wght" 600;
}

section {
  position: sticky;
  top: 0;
  height: vh;
  animation: fadein 2s 2s both;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

footer {
  position: fixed;
  bottom: 48px;
  left: 48px;
  z-index: 1;
  display: flex;
  gap: 16px;
  animation: fadein 3s 3s both;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  header {
    top: 32px;
    left: 32px;
  }

  h1,
  h2 {
    font-size: 24px;
  }

  footer {
    bottom: 32px;
    left: 32px;
  }
}

@media (max-aspect-ration: 1/1) {
  section {
    position: static;
    height: auto;
  }
}
